[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
Thumbs.db
.DS_Store
.idea/
*.log
bin/
build/
.gradle/
.classpath
.project
.settings/
.idea/
.consulo/
out/
*.iml
*.ipr
*.iws
*.xcuserstate
*.xcworkspacedata
.vscode/
